@font-face {
  font-family: Source Code Pro;
  src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
}

:root {
  --primary: #3A41FF;
  --dark: #000000;
  --secondary: #818181;
  --form-width: calc(151px * 2 + 12px);
  --main-font: Source Code Pro;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  width: 100%;
  height: 210px;
}

.header-text {
  color: #FFFFFF;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 648px;
}

.header img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .header-text h1,
  .header-text p {
    max-width: 90%;
    margin-left: 0;
    text-align: center;
  }

  .header img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
}


.form-container {
  margin-top: 20px;
  width: 100%;
  max-width: 648px;
}

.form-container h2 {
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

label {
  max-width: 250px;
  font-family: var(--main-font);
}

input {
  font-family: var(--main-font);
}

.range-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--form-width);
  gap: 10px;
}

#range-min,
#range-max {
  width: 151px;
  height: 35px;
  border-width: 1px;
  padding: 10px;
  gap: 10px;
  border: 1px solid #000000;
}

#range-slider {
  width: var(--form-width);
  height: 1px;
}

#options-select,
.radio-group,
#fullname,
#age {
  width: var(--form-width);
  height: 35px;
  margin-top: 11px;
  padding-left: 10px;
}

.radio-group {
  margin-top: 16px;
}

.select-and-radio,
.name-and-age {
  display: flex;
  flex-direction: row;
  width: var(--form-width);
}

.select,
.radio,
.name,
.age {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.radio,
.age {
  margin-left: 14px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 648px;
  margin-top: 6svh;
}

section p {
  max-width: 70%;
  margin-top: 2svh;
}

@media screen and (max-width: 732px) {

  .select-and-radio,
  .name-and-age {
    flex-direction: column;
  }

  .radio,
  .age {
    margin-left: 0;
  }

  .radio-group {
    margin-top: 11px;
    padding-left: 0;
  }

  .checkbox-group {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .checkbox-1,
  .checkbox-2 {
    margin-top: 8px;
  }

}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  background: #FFFFFF;
  padding: 50px;
  box-shadow: 10px 10px 0px 0px #000000;
  display: none;
  z-index: 10;
  max-width: 400px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .popup {
    padding: 20px;
  }
}

.popup-show {
  display: block;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.stick {
  width: 648px;
  height: 1px;
  background-color: var(--dark);
  margin: 20px auto;
}

footer {
  max-width: 80dvw;
}

/* анимаци */
#options-select {
  transition: all .5s ease;
}

#options-select:hover {
  cursor: pointer;
}

#options-select:focus {
  outline: none;
  border-color: var(--primary);
}


#options-select option {
  transition: background-color .3s ease, color .3s ease;
}

#options-select option:hover {
  background-color: var(--primary);
  color: white;
}

input:hover {
  border: 1px solid var(--primary);
  transition: all 1s ease;
}

input[type="radio"] {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid var(--primary);
  border-radius: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
}

input[type="radio"]:checked {
  background-color: var(--primary);
}


input[type="checkbox"] {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid var(--primary);
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--primary);
  top: 1px;
  left: 1px;
}

button {
  margin-top: 4svh;
  width: 150px;
  height: 38px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  box-shadow: 6px 5px 0px 0px #000000;
  color: #FFFFFF;
  font-family: Source Code Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  border: none;
  transition: all .3s ease;
}

button:hover {
  background: #f3f3f3;
  box-shadow: 3px 3px 2px 2px #000000;
  transition: all .3s ease;
  color: var(--dark);
}

button:active {
  transition: all .3s ease;
  color: #FFFFFF;
  background: var(--primary);
}


input:invalid,
select:invalid {
  border: 2px solid red;
}

input:focus:invalid,
select:focus:invalid {
  border-color: red;
  outline: none;
}

input:valid {
  border-color: var(--primary);
}